mat-form-field{
    display: block;
    width: 400px;
    margin: 10px;
}
.mat-mdc-tab-body-content{
    height: 100%;
    overflow: hidden !important;
}
mat-tab{
height: 700px;
}

.btn{
    background-color: #005cbb;
    color: whitesmoke;
}

