.Card{
margin: 20px 0;
text-align: center;

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
mat-card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
mat-card-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.precio {
    border: solid 1px black ;
    width: 32%;
    margin: 15px 10px;
    padding: 15px;
   height: 175px;
   
}

.economico{
    border-top: 5px solid rgba(0, 0, 0, 0.25);
   
}

.normal{
    border-top: 5px solid rgba(0, 133, 63, 1);
   
}
.ejecutivo{
    border-top: 5px solid rgba(0, 38, 18, 1);
}

.ejecutivo > button {
    background-color: rgba(0, 38, 18, 1);
    color: whitesmoke;
}
.normal > button{
    background-color: rgba(0, 133, 63, 1);
    color:whitesmoke;
}