div{
    display: grid;
}   

.avion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
    justify-content: center;
    justify-items: center;
}
.asiento{
    width: 70px;
    height: 70px;
    border: solid black 2px;
    display: flex;
    margin: 10PX;   
}

.wrap{
    display: flex;
    margin: 0 auto;
    }
    
    .example-card{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    height: 70px;
    width: 70px;
    max-width: 70px;
    margin: 12px;
    text-align: center;
    }

    .btn{
        background-color: #005cbb;
        color: whitesmoke;
    }
    .ocupado{
        background-color: red;
        pointer-events: none;
    }